@font-face {
    font-family: arsenale;
    src: url('../../assets/fonts/arsenale_white.ttf');
}
@font-face {
     font-family: comspotM;
    src: url('../../assets/fonts/Comspot-Medium.ttf');
}
@font-face {
	font-family: comspotI;
   src: url('../../assets/fonts/Comspot-RegularItalic.ttf');
}
@font-face {
	font-family: comspotExI;
   src: url('../../assets/fonts/Comspot-ExtraLightItalic.ttf');
}

.contenedor_card 
{
 max-width: 1200px;
 height: auto;
 padding: 40px 20px;
 margin: 0 auto;
 display: flex;
 justify-content: space-around;
 font-family: comspotM;
}

.contenedor_productos
{
    width: 100%;
    height: auto;
    padding: 20px 10px;
    display: flex;
    
    
}
.contenedor_productosTotales 
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   

}
.card_productos 
{
    width: 600px;
    height: 200px;
    display: flex;
    border: 1px solid #ededed;
    margin-bottom: 10px;
    padding: 10px;
}
.card_productos-imagenes
{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 100%;
}
.card_productos-informacion
{
  width: 100%;
  height: 100%;
}
.card_productos-informacion h3 
{
    color: #F99716;
}
.card_productos-eliminar 
{
    width: 100px;
    height: 100%;
    
}

.card_productos-imagenes img 
{
    width: 70%;
    height: 60%;
    
}
.contenedor_totales
{
    width: 80%;
    height: 600px;
    padding-top: 20px;
    padding-left: 30px;
    box-shadow:  0 0 10px #dadada;
    line-height: 80px;
    
   
}
.contenedor_totales h2 
{
    text-transform: uppercase;
    font-family: comspotExI;
    border-bottom: 1px dashed  #1e1e1e;
}
.contenedor_totales h3 
{
    border-bottom: 1px dashed  #1e1e1e;
}
.contenedor_totales span 
{
    color:#F99716;
    margin-left: 20px;
}
.contenedor_totales img 
{
    width: 200px;
    height: 60px;
}
.contenedor_totales .texto_total 
{
    font-size: 50px;
}
.vaciarCarrito 
{
    width: 900px;
    height: 530px;
    padding-top: 20px;
    margin: 40px auto;
   box-shadow: 0 0 10px #dadada;
   background-color: #fff;
}
.vaciarCarrito h2 
{
    font-family: comspotExI;
    font-size: 60px;
    text-align: center;

}
.vaciarCarrito img 
{
    width: 400px;
    height: 300px;
    margin-left: 150px;
}