.contenedorWapp {
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.logoWapp {
  cursor: pointer;
  width: 8vw;
  height: 8vw;
  background-color: #075e54;
  color: #ece5dd;
  border-radius: 25px;
  transition: all 0.3s;
}

.logoWapp:hover {
  width: 12vw;
  height: 12vw;
  transform: rotate(1turn);
}

.textoWapp {
  /* display: none; */
  visibility: hidden;
  border-radius: 15px;
  width: 0px;
  font-size: 0rem;
  transition: all 0.7s;
  /* height: 0px; */
}

.textoWappActivo {
  visibility: visible;
  background-color: #075e54;
  color: white;
  height: 100%;
  width: fit-content;
  font-size: 1.5rem;
  padding: 2%;
  margin-right: 1vw;
}
