

.contenedorCounter 
{
    width:200px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.contenedorCounter button 
{
    background-color: #F99716;
    border: none;
    width: 30px;
    height: 30px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}
