:root {
  --black: #000000;
  --white: #ffffff;
  --sm: 2rem;
  --md: 3rem;
  --lg: 4rem;
}



* {
  box-sizing: border-box;
  font-family: Compost Regular;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Compost Light';
  src: local('Compost Light') url('assets/fonts/Comspot-Light.ttf') format('truetype'),
}

@font-face {
  font-family: 'Compost Light Italic';
  src: local('Compost Light Italic') url('assets/fonts/Comspot-LightItalic.ttf') format('truetype'),
}

@font-face {
  font-family: 'Compost Medium';
  src: local('Compost Medium') url('assets/fonts/Comspot-Medium.ttf') format('truetype'),
}

@font-face {
  font-family: 'Compost Medium Italic';
  src: local('Compost Medium Italic') url('assets/fonts/Comspot-MediumItalic.ttf') format('truetype'),
}

@font-face {
  font-family: 'Compost Regular';
  src: local('Compost Regular') url('assets/fonts/Comspot-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Compost Bold';
  src: local('Compost Bold') url('assets/fonts/Comspot-Bold.ttf') format('truetype'),
}

@font-face {
  font-family: 'arsenale-white';
  src: local('arsenale-white') url('assets/fonts/arsenale_white.ttf') format('truetype');
}

@font-face {
  font-family: 'cambria';
  src: local('cambria') url('assets/fonts/cambria.ttc') format('truetype');
}